* {
    background-color: #FFF9D0 ;
    margin: 0%;
    padding: 0%;
}
/*HEADER*/

header nav {
    display:flex;
    background-color: #69b9c7;
    text-align: center;
    width: 100%;
}

header nav ul{
    background-color: #69b9c7;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.5%;
    width: 100%;
    justify-content: center;
}

header nav ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    margin: 2%;
    padding: 0.5%;
    float: left;
    background-color: #FFFBDE ;
    min-width: 90px;
    text-align: center;
    font-weight: bold;

}

header nav ul li a{
    text-decoration: none;
    color: #096B68;
    font-size: 15px;
    white-space: nowrap;
    transition: all 0.5s ease; /*TRANSICIÓN para cuando pone el mouse arriba */
}

header nav ul li a:hover{ /*se cambia el color cuando pones el mouse arriba */
    background-color: #6f9e9b;
    color: #FFFBDE;
    transform: scale(1.05);
}

header img{
    float: right;
    width: 3%;
    height: 3%;
    border-radius: 50%;
    margin: 2%;
}
header h1{
    clear: both;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-image: linear-gradient(rgba(255, 255, 255, 0.356), rgba(255, 255, 255, 0.469)), url("foto/destin.jpg"); /*para la opacidad*/
    background-size:cover;
    text-shadow: 1px 1px 2px grey;
    padding: 2%;
    font-size: 4rem;
    text-align: center;
}

/*INICIO*/
.inicio{
    background-color: #FFF9D0 ;
}

main h5{
    justify-content: center;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-top: 1%;
    font-size: 2.5ex;
}

.inicio h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4ex;
    margin-left: 2%;
    background-color: #91C8E4;
    border-radius: 5px;
    text-align: center;
    padding: 1%;
    width:35%;
}

.inicio h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3ex;
    margin-left: 2%;
    text-align: left;
    margin-bottom: 2%;
    font-weight: 400;
    padding: 1%;
    font-style: normal;
}

.inicio div{
    display: inline-block;
    width: 45.5%;
    margin-top: 2%;
}

.inicio img{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    height: auto;
    float: right;
}

.inicio h3{
    clear: both;
    float: right;
    margin-bottom: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #ACE2E1;
    font-size: medium;
    margin-right: 2%;
    text-shadow: 1px 1px 1px grey;

}

.inicio h4{
    clear: both;
    margin: 2%;
    padding: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ACE2E1;
    font-style: italic;
}


/*DESTINOS*/
.destinos h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 2%;
    font-weight: bold;
    background-color: #ACE2E1;

}
.destinos{
    display: flex;
    gap: 2rem;
}

.destinos div{
    flex: 1; /* Puede achicarse si no hay espacio */
    flex-basis: calc(22.222% - 2rem); /* para las columnas */
    background-color: #ACE2E1;
    padding: 2%;
    display: flex;
    flex-direction: column; /*para las columnas*/
    margin-bottom: 3%;
    margin-top: 3%;
}

.krDiv { /*para que la columna de corea tenga 2% de margin-left*/
    margin-left: 2%;;
}

.aDiv { /*para que la columna de aruba tenga 2% de margin-left*/
    margin-right: 2%;
}
.destinos h3{
    font-size: medium;
    margin-top: 1%;
    background-color: #ACE2E1;
    width: 100%;
    text-align: left;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#2f3a3d;
    font-size: 4ex;
}

.destinos h3 a{
    display: inline-block;
    background-color: #91C8E4;
    color: white;
    padding: 1%;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1%;
    font-size: 1.5ex;
}

.destinos ul {
    padding-left: 1%;
    margin-left: 2%;
    background-color: #ACE2E1;
}

.destinos ul li{
    background-color: #ACE2E1;
    margin-left: 2%;
    margin-bottom: 2%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3ex;
}

.destinos img{
    width: 80%;
    height: auto;
    size: cover;
}


/*RESEÑAS*/
.reseñas h2{
    clear:both;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1.5%;
}

.dest{
    background-color: #69b9c7;
    margin: 1.5%;
    overflow: hidden;
}


.dest h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 2rem;
    margin-top: 2%;
    margin-left: 1%;
    background-color: #69b9c7;
    padding: 1%;
}

.dest h4, .type h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1%;
    margin-top: 1%;
    color:#2f3a3d;
    background-color: #afe1ea; 
    padding: 1%;
    font-weight: 400;
    font-style: italic;
    font-size: 3ex;
}

.dest h4{
    margin-left: 1.5%;
    text-align: left;
}

.type h4{
    margin-right: 1.5%;
    text-align: right;
    margin-bottom: 2%;
}

.dest img{
    margin-right: 1.5%;
}

.type{
    margin-left: 1.5%;
    overflow: hidden;
} 

.dest img, .type img{
    width: 30%;  
    height: auto;  
    display: block;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    margin-left: 1.5%;
}

.contenido-flex{
    display: flex;
    gap: 1.5%;
    align-items: flex-start;
    background-color: #69b9c7;
    margin-right: 2%;
    margin-bottom: 1%;
}


.type h3{
    clear: both;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    font-size: 2rem;
    margin-top: 2%;
    background-color: #69b9c7;
    flex: 1;
    margin-right: 2%;
    padding: 1%;
}


.reseñas h2{
    background-color: #94cdc9;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 3%;
    font-weight:400;
}


/*RESERVAS*/

.reservas {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2ex;
    margin: 2%;
    text-align: center;
    margin-bottom: 4ex;
}

.reservas h2{
    margin-bottom: 2%;
    font-weight: 400;
    color:#2f3a3d;
    font-size: 4ex;
}
.reservas h3 {
    font-size: 5ex;
    color: #2f3a3d;
    margin-bottom: 1%;
    font-weight: bold;
}

.reservas h4 {
    background-color: #ACE2E1;
    font-style: italic;
    padding: 2%;
    margin-bottom: 3%;
    font-size: 2.5ex;
}


.reservas form{
    display: inline-block;
    width: 90%;
}

.reservas form p {
    text-align: left;
    font-weight: bold;
    margin-bottom: 1%;
    background-color: #ffea8b;
    padding: 2%;
    width: 25%;
    height: auto;
    margin: 2%;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.reservas input, .reservas select {
    width: 100%;
    padding: 1.5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2ex;
    margin-top: 1%;
    width: 90%;
}

.reservas div {
    margin-left: 5%;
    margin-right: 2%;
    text-align: center;
    width: 90%;
}

.reservas div input {
    background-color: #ffda8b;
    color: black;
    border: none;
    padding: 2%;
    font-size: 2ex;
    border-radius: 6px;
    margin: 1.5%;
    font-weight: bold;
    box-shadow: 1px 1px 3px black;
    width: 30%;
}

.reservas div input:hover {
    background-color: #ffcd8b;
}


/*TIPO DE VIAJE*/
.TipoDeViaje{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.TipoDeViaje h3{
    font-size: 5ex;
    color: #2f3a3d;
    margin-bottom: 1%;
    font-weight: bold;
    display: inline-flex;
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    font-style: italic;
 
}

.TipoDeViaje a{
    display: inline-flex;
    vertical-align:text-bottom;
    background-color:#94cdc9;
    color:#FFF9D0;
    border-radius: 5px;
    padding: 0.5%;
    margin-left: 2%;
    text-align: center;

}

.TipoDeViaje a:hover{
    background-color: #6f9996;
}

.TipoDeViaje h4{
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    text-align: center;
    color:#94cdc9;
    text-shadow: 1px 1px grey;
    font-size: 3ex;

}
.TipoDeViaje h5{
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    font-size: 20px;
    padding: 1.5%;
    text-align: center;
    background-color: #ACE2E1;
}

.TipoDeViaje h2{
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 3ex;
}

.TipoDeViaje ul li{
    margin-bottom: 1%;
    margin-right: 2%;
    margin-left: 4%;
    font-size: 3ex;
}

.TipoDeViaje img{
    width: 50%;
    height: auto;
    margin: 2%;
}

.TipoDeViaje hr {
    background-color: #2f3a3d;
    height: 3px;
    border: none;
}

header hr{
    background-color: #2f3a3d;
    height: 4px;
    border: none;
}

hr{
    background-color: #2f3a3d;
    height: 4px;
    border: none;
}

/*ENVIADO*/
.Confirmacion h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 5ex;
    margin: 2%;
    color: rgb(92, 135, 26);
}

/*FOOTER*/
footer{
    background-color: #92C7CF;
    padding: 1%;
    padding-top: 2ex;
    
}

footer p{
    text-align: left;
    background-color: #92C7CF;
    margin-top: 1%;
    margin-left: 2%;
    padding: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer h5{
    text-align: left;
    background-color: #92C7CF;
    margin-left: 2%;
    padding: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
